*.suo
*.user
Square9Analytics.API/bin
Square9Analytics.API/obj
Square9Analytics.API/Web.config
Square9Analytics.Logic/bin
Square9Analytics.Logic/obj
Square9Analytics.DataAccess/bin
Square9Analytics.DataAccess/obj
Square9Analytics.Objects/bin
Square9Analytics.Objects/obj
packages