.wellLabel {
  margin-bottom: 5px;
  font-weight: 700;
}

.actionLabel {
  font-weight: 300;
  margin-left: 5px;
  margin-bottom: 0px;
}

.dd-users{
	padding-top: 10px;
}
/*input[type='checkbox'] {
  position: relative;
  padding-top: 5px;
}*/

.userRow{
	padding-top: 15px;
}